/* .button-expense {
  display: block;
  width: 155px;
  height: 25px;
  background: orange;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

.button-settleup {
  display: block;
  width: 155px;
  height: 25px;
  background: #93f793;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
} */
